
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  }
  
.grid-container {
    display: grid;
    grid-template-areas:  
      'navbar navbar navbar navbar navbar navbar'
      'left left middle middle right right' 
      'wide wide wide wide wide wide'
      'footer footer footer footer footer footer';
    column-gap: 10px;
    row-gap: 10px;
}

.navbar {
    background-color: olivedrab;
    grid-area: navbar;
    height: 60px;
  }
  
.navbar  a {
    float: inline-end;
    display: block;
    color: pink;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background-color: olivedrab;
    color: maroon;
  }
  .navbar a.active {
    background-color: olivedrab;
    color: maroon;
    text-decoration: underline;
  }

  .left {
    border-radius: 10px;
    grid-area: left;
    background-color: rgb(177, 177, 88);
    padding: 20px;
    height: 300px;
    object-fit: scale-down;
    text-align:left;
    font-size: 14px;
    display:flex;
    justify-content: center;
  }

  .middle {
    border-radius: 10px;
    grid-area: middle;
    background-color: paleturquoise;
    padding: 20px;
    height: 300px;
    object-fit: scale-down;
    text-align:center;
    font-size: 14px;
    display:flex;
    justify-content: center;
  }

  .right {
    border-radius: 10px;
    grid-area: right;
    background-color: pink;
    height: 300px;
    object-fit: scale-down;
    text-align:left;
    font-size: 14px;
    display:flex;
    justify-content: center;
    padding: 10px;
  }

  #picture {
    padding: 20px;
  }
  
  .wide {
    border-radius: 10px;
    grid-area: wide;
    background-color:rgb(221, 184, 184);
    padding: 10px;
    height: 400px;
    text-align: left;
    font-size: 20px;
  }
   
  .footer {
    grid-area: footer;
    background-color: olivedrab;
    color:pink;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    height: 60px;
  }

  @media (max-width: 768px) {
    .grid-container  {
      grid-template-areas: 
        'navbar navbar navbar navbar navbar navbar' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'wide wide wide wide wide wide'
        'footer footer footer footer footer footer';
    }
  }

 .picture { 
  max-height: 290px;
  width: auto;
  border-radius:10px;
  position:relative;
 }

 h1{
  font-size: 40px;
  color: black;
  text-align: center;
  padding: 10px;
}

.link{
  color: purple;
}